<head>
    <style type="text/css">
        .auto-style3 {
            height: 20px;
        }

        .auto-style5 {
            height: 55px;
        }
    </style>
</head>
<h2 style="text-align: center">xxxxxx大学教师因公出国（境）申请表</h2>
<div style="text-align: right; margin-bottom: 5px;">申请日期：  2013 年  2 月 12  日</div>

<table style="width: 100%;" class="table table-bordered">
    <tr>
        <th>&nbsp;</th>
        <th>姓名</th>
        <th>学院/部门</th>
        <th>职称职务</th>
        <th>身份证号</th>
        <th>上次出访时间</th>
    </tr>
    <tr>
        <td>领队</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td rowspan="2">团员</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td class="auto-style3"></td>
        <td class="auto-style3"></td>
        <td class="auto-style3"></td>
        <td class="auto-style3"></td>
        <td class="auto-style3"></td>
    </tr>
    <tr>
        <td class="auto-style5">本次出访国家（地区）</td>
        <td colspan="5" class="auto-style5">
            <ul>
                <li>毛里求斯 停留 5 天 邀请单位：洗刷刷的大得多 </li>
                <li>毛里求斯 停留 5 天 邀请单位：洗刷刷的大得多 </li>
            </ul>
        </td>
    </tr>
    <tr>
        <td>出访日期</td>
        <td colspan="5">自 2013 年 1 月 1 日 至 2013 年 2 月 1 日&nbsp;&nbsp;&nbsp; 共计&nbsp; 30&nbsp; 天</td>
    </tr>
    <tr>
        <td>经费预算</td>
        <td colspan="5">合计约&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 元</td>
    </tr>
    <tr>
        <td>出访任务（中文）</td>
        <td colspan="5">
            <br />
            <br />
            <br />
            <br />
        </td>
    </tr>
</table>
<table style="width: 100%;" class="table  table-bordered">
    <tr>
        <td colspan="2"><h4 style="text-align: center">以下栏目由审批部门填写</h4></td>
    </tr>
    <tr>
        <td style="font-weight: bold">国际交流与合作处(港澳台办)意见：       
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </td>
        <td style="font-weight: bold">学校主管外事领导意见：       
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </td>
    </tr>
    <tr>
        <td colspan="2"><span style="font-weight: bold">学校领导意见：</span>（正处级及以上干部出访需填写此栏）<br />
            <br />
            <br />
            <br />
            <br />
        </td>
    </tr>
</table>



