<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link href="bower_components/tinyui/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="bower_components/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="bower_components/tinyui/dist/css/tiny.css" rel="stylesheet" />
    <link href="src/css/yutflow.css" rel="stylesheet" />
    <style>
        #workflow {
            position: relative;
            background: url(src/img/wf_canvas_bg.png) repeat;
            height: 600px;
            overflow: auto;
        }

        #toolbar {
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 111;
        }
    </style>
</head>
<body>
    <div id="workflow"></div>
    <div id="context-menu"></div>
    <div id="toolbar">
        <button class="btn btn-default" id="btn-select">获取选中</button>
        <button class="btn btn-default" id="btn-data">获取数据</button>

    </div>

    <script type="text/template" id="tpl-canvas-menu">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" data-action="addNode">
                    <i class="fa fa-plus fa-fw"></i>
                    添加步骤
                </a>
            </li>
            <li>
                <a href="#" data-action="reload">
                    <i class="fa fa-refresh fa-fw"></i>
                    重新加载
                </a>
            </li>
            <li>
                <a href="#" data-action="save">
                    <i class="fa fa-save fa-fw"></i>
                    保存流程
                </a>
            </li>
        </ul>
    </script>
    <script type="text/template" id="tpl-node-menu">
        <ul class="dropdown-menu" role="menu">
            <li>
                <a href="#" data-action="addNode">
                    <i class="fa fa-cog fa-fw"></i>
                    基本信息
                </a>
            </li>
            <li>
                <a href="#" data-action="reload">
                    <i class="fa fa-th fa-fw"></i>
                    表单字段
                </a>
            </li>
            <li>
                <a href="#" data-action="save">
                    <i class="fa fa-user fa-fw"></i>
                    经办角色
                </a>
            </li>
            <li>
                <a href="#" data-action="save">
                    <i class="fa fa-share fa-fw"></i>
                    转出条件
                </a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
                <a href="#" data-action="deleteNode">
                    <i class="fa fa-trash fa-fw"></i>
                    删除步骤
                </a>
            </li>
        </ul>
    </script>
    <script type="text/template" id="tpl-node">
        <div class="<%= cls %>"
             id="<%= prefix %><%= index %>"
             data-id="<%= id %>"
             style="top: <%= top %>px; left: <%= left %>px;">
            <span class="wf-handle">
                <i></i>
                <%= index %>
            </span>
            <span class="wf-node_text">
                <%= name %>
            </span>
        </div>
    </script>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/bootstrap-contextmenu/bootstrap-contextmenu.js"></script>
    <script src="bower_components/jsplumb/dist/js/jsPlumb-2.0.7.js"></script>
    <script src="src/js/yutflow.js"></script>
    <script>

        var data = [{
            "id": 222, "processid": 3, "left": "484", "top": "245", "name": "\u6d4b\u8bd53", "to": "0"
        }, {
            "id": 221, "processid": 2, "left": "420", "top": "53", "name": "\u6d4b\u8bd52", "to": "3,0"
        }, {
            "id": 220, "processid": 1, "left": "200", "top": "167", "name": "\u6d4b\u8bd5", "to": "2"
        }, {
            "id": 191, "processid": 0, "left": "771", "top": "88", "name": "\u7ed3\u675f", "to": ""
        }, {
            "id": 190, "processid": -1, "left": "79", "top": "60", "name": "\u5f00\u59cb", "to": "1"
        }];

        $('#workflow').yutflow({
            data: data,
            editable: false,
            draggable: false,
            contextMenu: false
        });
        $('#btn-select').on('click', function () {
            var data = $('#workflow').data('plugin_yutflow').select();
            console.log(data);
        });
        $('#btn-data').on('click', function () {
            var data = $('#workflow').data('plugin_yutflow').data();
            console.log(data);
        });
    </script>
</body>
</html>